#rapidroute {
    
    background-image: url("assets/RapidRouter.png");
}

#microbit {
    background-image: url("assets/MicroBit.png");
}

#godaddy {
    background-image: url("assets/DoGaddy.png");
}

#bitbot {
    background-image: url("assets/BitBot.webp");
}

#kodu {
    background-image: url("assets/Kodu.png");
}

#python {
    background-image: url("assets/Python.png");
}

#sonicpi {
    background-image: url("assets/SonicPI.png");
}

#codecombat {
    background-image: url("assets/CodeCombat.png");
}